#password-strength {
  width: 300px;
  border: 1px solid #c6c6c6;
  box-sizing: border-box;
  color: #090809;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 18px;
  line-height: 1;
  position: relative;
}

#password-strength .password-input {
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  padding: 14px 0 12px 14px;
  width: calc(85% - 28px);
}

#password-strength .password-input:focus {
  outline: none
}



#password-strength .password-strength-info {
  color: transparent;
  font-style: italic;
  padding: 14px 12px;
  position: absolute;
  top: 1px;
  right: 0;
  text-align: right;
  transition: color 250ms ease-in-out;
  width: 15%;
}

.password-strength.strength-0 .password-input {
  color: #D1462F !important;
}

.password-strength.strength-0 .password-strength-info {
  color: #D1462F !important;
}

.password-strength.strength-1 .password-strength-info {
  color: #D1462F !important;
}

.password-strength.strength-2 .password-strength-info {
  color: #57B8FF !important;
}

.password-strength.strength-3 .password-strength-info {
  color: #57B8FF !important;
}

.password-strength.strength-4 .password-strength-info {
  color: #2FBF71 !important;
}

.password-strength.strength-none .password-strength-bar {
  width: 0 !important;
}

.password-strength.strength-0 .password-strength-bar {
  background: #D1462F;
  width: 20% !important;
}

.password-strength.strength-1 .password-strength-bar {
  background: #D1462F;
  width: 40% !important;
}

.password-strength.strength-2 .password-strength-bar {
  background: #57B8FF;
  width: 60% !important;
}

.password-strength.strength-3 .password-strength-bar {
  background: #57B8FF;
  width: 80% !important;
}

.password-strength.strength-4 .password-strength-bar {
  background: #2FBF71;
  width: calc(100% + 2px) !important;
}

#password-strength .password-strength-bar {
  box-sizing: border-box;
  height: 2px;
  position: relative;
  top: 1px;
  right: 1px;
  transition: width 300ms ease-out;
  width: 0;
}
